{% extends "base.html.twig" %}

{% block body %}
    <p>Hello {{ name }} !</p>
    <section>
        <h1>Articles</h1>
        <ul>
            {% for article in articles %}
                <li>{{ article.title }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}